[package]
name = "himalaya"
description = "Command-line interface for email management."
version = "0.6.2"
authors = ["soywod <clement.douin@posteo.net>"]
edition = "2021"
license = "MIT"
categories = ["command-line-interface", "command-line-utilities", "email"]
keywords = ["cli", "mail", "email", "client", "imap"]
homepage = "https://github.com/soywod/himalaya"
documentation = "https://github.com/soywod/himalaya/wiki"
repository = "https://github.com/soywod/himalaya"

[package.metadata.deb]
priority = "optional"
section = "mail"

[features]
imap-backend = ["himalaya-lib/imap-backend"]
maildir-backend = ["himalaya-lib/maildir-backend"]
notmuch-backend = ["himalaya-lib/notmuch-backend"]
default = ["imap-backend", "maildir-backend"]

[dev-dependencies]
tempfile = "3.3"

[dependencies]
anyhow = "1.0"
atty = "0.2"
clap = "4.0"
clap_complete = "4.0"
clap_mangen = "0.2"
console = "0.15.2"
dirs = "4.0.0"
dialoguer = "0.10.2"
email_address = "0.2.4"
env_logger = "0.8"
erased-serde = "0.3"
himalaya-lib = "0.5"
indicatif = "0.17"
log = "0.4"
once_cell = "1.16.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
shellexpand = "2.1"
termcolor = "1.1"
terminal_size = "0.1"
toml = "0.5"
unicode-width = "0.1"
url = "2.2"
uuid = { version = "0.8", features = ["v4"] }
