[Desktop Entry]
Type=Application
Name=himalaya
DesktopName=Himalaya
GenericName=Mail Reader
Comment=CLI email client written in Rust
Comment[lo]=CLI ອີເມວໄຄລແອນທີ່ຂຽນດ້ວຍພາສາRust
Comment[th]=CLI อีเมล์ไคลแอนท์ที่เขียนด้วยภาษาRust
Terminal=true
Exec=himalaya %U
Categories=Application;Network
Keywords=email
MimeType=x-scheme-handler/mailto;message/rfc822
Actions=Compose

[Desktop Action Compose]
Name=Compose
Exec=himalaya write %U
